* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background-image: url("/xbcxcvbvxcb.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 50%;
  padding: 28px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

@media (max-width: 767px) {
  .container {
    width: 90%;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .container {
    width: 60%;
  }
}

.container h1 {
  margin: 15px 0 35px;
}

.form_control {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.form_control input {
  background: rgba(255, 255, 255, 0.5);
  outline: 0;
  border: 0;
  border-bottom: 2px solid rgba(255, 255, 255, 0.9);
  border-radius: 5px;
  padding: 12px;
  margin-top: 8px;
  margin-bottom: 3px;
}

.form_control small {
  display: block;
  color: red;
  margin-bottom: 18px;
  visibility: hidden;
}

.form_control.error small {
  visibility: visible;
}

.form_control.error input {
  border: 1px solid red;
  background-color: rgba(255, 0, 0, 0.237);
}

.form_control.success input {
  border: 1px solid rgb(23, 235, 23);
}

.disabled {
  border: 1px solid red;
  background-color: rgba(226, 16, 16, 0.95);
  cursor: not-allowed;
}

.disabled:hover {
  background-color: rgb(248, 5, 5);
}

button {
  width: 100%;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.7);
  border: none;
  outline: none;
  color: white;
  padding: 8px;
  margin-bottom: 15px;
  cursor: pointer;
}

button:hover {
  background-color: rgba(0, 0, 0, 0.9);
}
